<div class="container-fluid h-100 d-flex flex-column justify-content-center align-items-center min-vh-100">
    <% if(messages.success.length > 0){ %>
  <div class="container col-4 alert alert-success alert-dismissible fade show" id="signinAlert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong><%= messages.success %></strong>
  </div>
  <% } %>
  <% if(messages.error.length > 0){ %>
  <div class="container col-4 alert alert-danger alert-dismissible fade show" id="signinAlert">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    <strong><%= messages.error %></strong>
  </div>
  <% } %>
  <% if(user){ %>
  <h1 class="m-3 fw-semibold text-secondary">
    Welcome to SubTrack, <%= user.username.charAt(0).toUpperCase() + user.username.slice(1).toLowerCase(); %>
  </h1>
  <div class="d-flex gap-3 my-4">
   <a href="/subscriptions"><button class="btn btn-primary rounded-3">Subscriptions</button></a> 
    <a href="/transactions"><button class="btn btn-primary rounded-3">Transactions</button></a>
  </div>
  <% } else { %>
  <h1 class="m-3 fw-semibold text-secondary">Welcome to SubTrack, Please sign in.</h1>
  <div class="d-flex gap-3 my-4">
   <a href="/auth/sign-in"><button class="btn btn-secondary rounded-3">Sign In</button></a> 
    <a href="/auth/sign-up"><button class="btn btn-secondary rounded-3">Sign Up</button></a>
  </div>
  <% } %>
</div>
<script>
  setTimeout(() => {
    const Alert = document.getElementById('signinAlert');
    if (Alert) {
      const signinAlert = bootstrap.Alert.getOrCreateInstance(Alert);
      signinAlert.close();
    }
  }, 3000);
</script>