<div class="container-fluid">
  <div class="row m-3">
    <div class="col d-flex justify-content-start">
      <p class="mb-0 fw-bold ">
        <a class="text-decoration-none" href="/">Home</a> / <a class="text-decoration-none" href="/subscriptions">Subscriptions</a> / <a class="text-decoration-none" href="/subscriptions/new"> Add New
          Subscription</a>
      </p>
    </div>
  </div>
</div>
<h2 class="fw-bold text-center text-muted"><i class="fa-solid fa-circle-plus"></i> Add New Subscriptions</h2>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="bg-white p-4 rounded-4 shadow">
        <form action="/subscriptions" method="POST">
          <% if(messages.error.length> 0){ %>
          <div class="alert alert-danger alert-dismissible fade show" id="newSubAlert">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>
              <%= messages.error %>
            </strong>
          </div>
          <% } %>
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" id="name" class="form-control rounded-3" required />
          </div>
          <div class="mb-3">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" name="amount" id="amount" class="form-control rounded-3" required />
          </div>
          <div class="mb-3">
            <label for="billingCycle" class="form-label">Billing Cycle</label>
            <select name="billingCycle" id="billingCycle" class="form-select rounded-3" required>
              <option value="Monthly">Monthly</option>
              <option value="Annual">Annual</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="nextBillingDate" class="form-label">Next Billing Date</label>
            <input type="date" name="nextBillingDate" id="nextBillingDate" class="form-control rounded-3" required>
          </div>
          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select name="status" id="status" class="form-select rounded-3" required>
              <option value="Active">Active</option>
              <option value="Paused">Paused</option>
              <option value="Canceled">Canceled</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select name="category" id="category" class="form-select rounded-3" required>
              <option value="Streaming">Streaming</option>
              <option value="Utilities">Utilities</option>
              <option value="Education">Education</option>
              <option value="Gaming">Gaming</option>
              <option value="Cloud/Storage">Cloud/Storage</option>
              <option value="Shopping">Shopping</option>
              <option value="Productivity">Fitness/Health</option>
              <option value="Finance">Finance</option>
              <option value="Other">Other</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="note" class="form-label">Notes</label>
            <textarea name="notes" id="notes" class="form-control rounded-3" placeholder="Notes"></textarea>
          </div>

          <button type="submit" class="btn btn-primary w-100 rounded-3">Add Subscription</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
  setTimeout(() => {
    const Alert = document.getElementById('newSubAlert');
    if (Alert) {
      const signinAlert = bootstrap.Alert.getOrCreateInstance(Alert);
      signinAlert.close();
    }
  }, 3000);
</script>